// 主色
$brandColor: #409eff, #53a8ff, #66b1ff, #79bbff, #8cc5ff, #a0cfff, #b3d8ff, #c6e2ff, #d9ecff, #ecf5ff;
// 辅助色
$successColor: #67c23a, #e1f3d8, #f0f9eb;
$warningColor: #e6a23c, #faecd8, #fdf6ec;
$dangerColor: #f56c6c, #fde2e2, #fef0f0;
$infoColor: #909399, #e9e9eb, #f4f4f5;
// 字体色
$fontColor: #303133, #191f2b, #909399, #c0c4cc;
// 边框色
$borderColor: #dcdfe6, #e4e7ed, #ebeef5, #f2f6fc;
